@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins-Regular.ttf")
}

* {
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}