@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins-Medium.ttf")
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #D2BEBF;
}

body {
    max-width: 50%;
    margin: 0 auto;
    font-size: 18px;
    -webkit-box-shadow: 5px 5px 18px 2px #213341; 
    box-shadow: 5px 5px 18px 2px #213341;
}

ul {
    list-style: none;
}

.header {
    background-color:#049CB3;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color:#F5E7E4;
}

.nav-item{
    font-size: 20px;
    align-items: center;

}

main {
    display: flex;
    position: relative;
    overflow: hidden;
}

.decoration {
    position:
    absolute;
    height: 100%;
    width: 100%;
    transform: matrix(0, 2, 21, -3, 0, -300);
    z-index: 3;
    background: #049CB3;
    top: 0;
    right: -184%;
}

.decoration_2 {
    position:
    absolute;
    height: 65%;
    width: 52%;
    transform: matrix(0, 1, -23, -4, 0, -47);
    z-index: 2;
    background: #213341;
    top: 0;
    right: -184%;
}

h1 {
    font-size: 40px;
    text-align: right;
    color:#213341;
}

section {
    padding: 10px;
}

.first_container {
    background-color:#213341;
    color:#F5E7E4;
    width: 30%;
}

.photo_container {
    position: relative;
    height: 300px;
}

.photo {
    width: 90%;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 3px #F5E7E4;
    -webkit-box-shadow: 0px 0px 20px 0px #F5E7E4; 
    box-shadow: 0px 0px 20px 0px #F5E7E4;
}

h2 {
    font-size: 25px;
}

.sideheading {
    text-align: center;
    color: #049CB3;
}

.contacts li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

dd {
    margin: 5px 10px;
    background-color: #D2BEBF;
}

dt {
    margin-left: 10px;
}

.level {
    text-align: center;
    color:#213341;
    background-color:#049CB3;
}

.second_container {
    background-color: #F5E7E4;
    color: #213341;
    padding-top: 180px;
    width: 70%;
}

.subheading {
    text-align:center;
    color: #049CB3;
}

pre {
    font-size: 15px;
    background: #d2bebf61;
    border-radius: 10px;
    padding: 10px;
}

.english p {
    padding-left: 10px;
}

.I {
    position: absolute;
    z-index: 3;
    top: 0;
    right: -150%;
}

.project-1 {
    margin-top: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.projects a {
    display: block;
    text-align: center;
}

.education ul {
    list-style-type: "▸";
    margin: 10px;
}

footer {
    background-color: #049CB3;
    color: #213341;
    display: flex;
    justify-content: space-evenly;
    min-height: 45px;
    align-items: center;
}

footer a {
    color:#213341;
    display: flex;
    align-items: center;
}